
@{
    ViewBag.Title = "2지구 1층";
}
<h2>@ViewBag.Title</h2>

<div>
    <div class="container">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("지하1층", "SecondBaseFirst", "FloorInfo")</li>
            <li>@Html.ActionLink("1층", "SecondFirst", "FloorInfo")</li>
            <li>@Html.ActionLink("2층", "SecondSecond", "FloorInfo")</li>
            <li>@Html.ActionLink("3층", "SecondThird", "FloorInfo")</li>
            <li>@Html.ActionLink("4층", "SecondForth", "FloorInfo")</li>
        </ul>
    </div>
</div>

<div class="container">
    <svg width="1200" height="600">


    </svg>
</div>

