@model seomoonsijang_google.Models.ContentsEntity
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <input type="file" name="file" id="uploadImage" />
    <div id="col-md-1 preview">
        <img id="imagePreview" src="#" alt="Preview upload images" style="width:500px; display:none"/>
    </div>
<br />
            @Html.TextBoxFor(contents => contents.Text, new { style = "width:500px;height:100px" })<br />
            <input type="submit" value="Upload" />

}
<div class="col-lg-12">
    <h3>@ViewBag.Message</h3>
    Insert of entity into @ViewBag.TableName @(ViewBag.Result == 204 ? "succeeded" : "failed")
    <h4>@ViewBag.Cookie</h4>
    <h5>@ViewBag.Sample</h5>
</div>

<script>
    function readUploadImage(inputObject) {
        if (window.File && window.FileReader) {
            if (inputObject.files && inputObject.files[0]) {
                if (!(/image/i).test(inputObject.files[0].type)) {
                    alert("It's not image file.");
                    return false;
                }

                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').attr('src', e.target.result);
                }

                reader.readAsDataURL(inputObject.files[0]);
            }
        } else {
            alert("Preview can't be working.");
        }
    }

    $("#uploadImage").change(function () {
        readUploadImage(this);

        var x = document.getElementById('imagePreview');
        x.style.display = 'block';
    });
</script>